#%RAML 1.0
---

title: Customs Declarations Information
description: Search for declarations and get declaration status and version
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/xml

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Service Features
    content: !include docs/api-status-and-roadmap.md
  - title: Data availability
    content: !include docs/data-availability-and-status.md
  - title: API Authorisation
    content: !include docs/authorisation.md
  - title: Errors
    content: !include docs/errors.md
  - title: Testing
    content: !include docs/testing.md
  - title: XML Schemas
    content: !include docs/schema.md

/customs/declarations-information:
  /search:
    get:
      displayName: Search for declarations
      description: Get a list of declarations matching the query parameters
      headers:
        Accept:
          description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
          type: string
          required: true
          example: application/vnd.hmrc.2.0+xml
        X-Badge-Identifier:
          description: |
            Represents the end-user who is interacting with the subscribed application.

            CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

            Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
          type: string
          required: false
          example: ABC123
        X-Submitter-Identifier:
          description: |
            The EORI associated with the originating owner of the declaration.

            CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

            Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
          type: string
          required: false
          example: GB123456789000
      (annotations.scope): "write:customs-declarations-information"
      securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
      queryParameters:
        partyRole:
          description: The party role. One of submitter, consignee, consignor or declarant. Only submitter is valid in this release.   
          type: string
          required: true
          example: submitter
        declarationCategory:
          description: The category of a declaration. One of IM, EX, CO or all.
          type: string
          required: true
          example: all
        eori:
          description: For use in a future release.
          type: string
          required: false
          example: GB123456789000
        dateFrom:
          description: The declaration start date. If omitted, then the results start from the earliest declaration. If both dates are omitted then the default is the last 30 days.
          type: date-only
          required: false
          example: 2021-04-09
        dateTo:
          description: The declaration end date. If omitted, then the results start from the dateFrom parameter to the current date. If both dates are omitted then the default is the last 30 days. 
          type: date-only
          required: false
          example: 2021-04-16
        goodsLocationCode:
          description: The goods location code. Maximum length is 12 characters. 
          type: string
          required: false
          example: BELBELOB4
        declarationStatus:
          description: The status of a declaration. One of cleared, uncleared, rejected or all. If omitted the default is uncleared.
          type: string
          required: false
          example: uncleared
        pageNumber:
          description: The page number of the results. Default value is 1.
          type: integer
          required: false
      responses:
        200:
          body:
            application/xml:
              description: Successful response payload
              type: !include schemas/wco/declaration/DeclarationInformationRetrievalSearchResponse.xsd
              example: !include examples/declarationInformationSearchResponseExample.xml
  /mrn:
    /{mrn}:
      uriParameters:
        mrn:
          description: |
            Movement Reference Number

            Must be a URL encoded string up to 35 characters long.
          type: string
          example: "20GB52P19SNIHX8PA6"
      /status:
        get:
          displayName: Get the status of a declaration by MRN
          description: Get the status of a declaration with the given MRN.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.2.0+xml
            X-Badge-Identifier:
              description: |
                Represents the end-user who is interacting with the subscribed application.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: |
                The EORI associated with the originating owner of the declaration.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalStatusResponse.xsd
                  example: !include examples/example_messages/Trade%20Test%2017.0%20Sample%20Messages/TT_IM01c/TT_IM01c_DIS%20Status%20API%20Response%20v1.2.xml
      /version:
        get:
          displayName: Get a list of declaration versions by MRN
          description: Get a list of declaration versions, latest first, with the given MRN.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.2.0+xml
            X-Badge-Identifier:
              description: |
                Represents the end-user who is interacting with the subscribed application.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: |
                The EORI associated with the originating owner of the declaration.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          queryParameters:
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalVersionResponse.xsd
                  example: !include examples/declarationInformationVersionResponseExample.xml
      /full:
        get:
          displayName: Get the full declaration by MRN
          description: |
            Get the full declaration with the given MRN and version.
            #### Availability
            Please note that this endpoint is currently under development and is not available for testing. This section will be updated when the endpoint becomes available.

          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.2.0+xml
            X-Badge-Identifier:
              description: |
                Represents the end-user who is interacting with the subscribed application.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: |
                The EORI associated with the originating owner of the declaration.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          queryParameters:
            declarationVersion:
              description: The version of a declaration. Omitting this parameter will return the latest version.  
              type: integer
              required: false
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalFullResponse.xsd
                  example: !include examples/declarationInformationFullResponseExample.xml

  /ducr:
    /{ducr}:
      uriParameters:
        ducr:
          description: |
             Declaration Unique Consignment Reference

             Must be a URL encoded string up to 70 characters long.
          type: string
          example: "8GB796458895018-G8536C"
      /status:
        get:
          displayName: Get the status of a declaration by DUCR
          description: Get the status of a declaration with the given DUCR.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.2.0+xml
            X-Badge-Identifier:
              description: |
                Represents the end-user who is interacting with the subscribed application.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: |
                The EORI associated with the originating owner of the declaration.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalStatusResponse.xsd
                  example: !include examples/declarationInformationRetrievalDucrStatusResponseExample.xml

  /ucr:
    /{ucr}:
      uriParameters:
        ucr:
          description: |
            Unique Consignment Reference

            Must be a URL encoded string up to 35 characters long.
          type: string
          example: "9GB010969918000-5A8BD3F"
      /status:
        get:
          displayName: Get the status of a declaration by UCR
          description: Get the status of a declaration with the given UCR.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.2.0+xml
            X-Badge-Identifier:
              description: |
                Represents the end-user who is interacting with the subscribed application.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: |
                The EORI associated with the originating owner of the declaration.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalStatusResponse.xsd
                  example: !include examples/declarationInformationRetrievalUcrStatusResponseExample.xml

  /inventory-reference:
    /{inventoryReference}:
      uriParameters:
        inventoryReference:
          description: |
             Inventory Reference

             Must be a URL encoded string up to 70 characters long. Spaces are permitted.
          type: string
          example: "GB%2F1234-%3A3333HZ"
      /status:
        get:
          displayName: Get the status of a declaration by Inventory Reference
          description: Get the status of a declaration with the given Inventory Reference.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.2.0+xml
            X-Badge-Identifier:
              description: |
                 Represents the end-user who is interacting with the subscribed application.

                 CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                 Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: |
                 The EORI associated with the originating owner of the declaration.

                 CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                 Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalStatusResponse.xsd
                  example: !include examples/declarationInformationRetrievalIrStatusResponseExample.xml
