#%RAML 1.0
---

title: Customs Declarations Information
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/xml

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Testing
    content: !include docs/testing.md

/customs/declarations-information:
  /mrn:
    /{mrn}:
      uriParameters:
        mrn:
          description: Movement Reference Number
          type: string
          example: "19GBL4592NCOI21NR9"
      /status:
        get:
          displayName: Get the status of a declaration by MRN
          description: Get the status of a declaration with the given MRN.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.1.0+xml
            X-Badge-Identifier:
              description: Represents the end-user who is interacting with the subscribed application. Must be numeric or upper case letters with a minimum length of 6 and a maximum length of 12. CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: The EORI associated with the originating owner of the declaration. Must be numeric and upper case characters with a maximum length of 17 characters. CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalStatusResponse.xsd
                  example: !include examples/declarationInformationRetrievalStatusResponseExample.xml
            500:
              body:
                application/xml:
                  description: Internal server error
                  type: !include schemas/customs/error.xsd
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                          <code>INTERNAL_SERVER_ERROR</code>
                          <message>Internal server error</message>
                      </errorResponse>

  /ducr:
    /{ducr}:
      uriParameters:
        ducr:
          description: Declaration Unique Consignment Reference
          type: string
          example: "19GBL4592NCOI21NR9"
      /status:
        get:
          displayName: Get the status of a declaration by DUCR (not yet available)
          description: Get the status of a declaration with the given DUCR.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.1.0+xml
            X-Badge-Identifier:
              description: Represents the end-user who is interacting with the subscribed application. Must be numeric or upper case letters with a minimum length of 6 and a maximum length of 12. CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: The EORI associated with the originating owner of the declaration. Must be numeric and upper case characters with a maximum length of 17 characters. CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalStatusResponse.xsd
                  example: !include examples/declarationInformationRetrievalStatusResponseExample.xml
            500:
              body:
                application/xml:
                  description: Internal server error
                  type: !include schemas/customs/error.xsd
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                          <code>INTERNAL_SERVER_ERROR</code>
                          <message>Internal server error</message>
                      </errorResponse>

  /ucr:
    /{ucr}:
      uriParameters:
        ucr:
          description: Unique Consignment Reference
          type: string
          example: "19GBL4592NCOI21NR9"
      /status:
        get:
          displayName: Get the status of a declaration by UCR (not yet available)
          description: Get the status of a declaration with the given UCR.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.1.0+xml
            X-Badge-Identifier:
              description: Represents the end-user who is interacting with the subscribed application. Must be numeric or upper case letters with a minimum length of 6 and a maximum length of 12. CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: The EORI associated with the originating owner of the declaration. Must be numeric and upper case characters with a maximum length of 17 characters. CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalStatusResponse.xsd
                  example: !include examples/declarationInformationRetrievalStatusResponseExample.xml
            500:
              body:
                application/xml:
                  description: Internal server error
                  type: !include schemas/customs/error.xsd
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                          <code>INTERNAL_SERVER_ERROR</code>
                          <message>Internal server error</message>
                      </errorResponse>

  /inventory-refence:
    /{inventoryReference}:
      uriParameters:
        inventoryReference:
          description: Inventory Reference
          type: string
          example: "19GBL4592NCOI21NR9"
      /status:
        get:
          displayName: Get the status of a declaration by Inventory Reference (not yet available)
          description: Get the status of a declaration with the given Inventory Reference.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.1.0+xml
            X-Badge-Identifier:
              description: Represents the end-user who is interacting with the subscribed application. Must be numeric or upper case letters with a minimum length of 6 and a maximum length of 12. CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.
              type: string
              required: false
              example: ABC123
            X-Submitter-Identifier:
              description: The EORI associated with the originating owner of the declaration. Must be numeric and upper case characters with a maximum length of 17 characters. CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.
              type: string
              required: false
              example: GB123456789000
          (annotations.scope): "write:customs-declarations-information"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declarations-information" ] } ]
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/DeclarationInformationRetrievalStatusResponse.xsd
                  example: !include examples/declarationInformationRetrievalStatusResponseExample.xml
            500:
              body:
                application/xml:
                  description: Internal server error
                  type: !include schemas/customs/error.xsd
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                          <code>INTERNAL_SERVER_ERROR</code>
                          <message>Internal server error</message>
                      </errorResponse>
